<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/b2b.css" />
    <link rel="stylesheet" href="../assets/css/mastermain.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <script
      src="https://kit.fontawesome.com/8d7ee4e911.js"
      crossorigin="anonymous"
    ></script>
    <title>کاربران سازمانی</title>
  </head>
  <body>
    <header class="header">
      <div class="row_flex header__top__background center_content test">
        <div class="container">
          <div class="header__top">
            <div class="header__top__mobileMenu">
              <div class="burgerMenu burgerMenu__toggle">
                <i class="fa-solid fa-bars fa-lg"></i>
              </div>
            </div>
            <div class="header__top__desktopMenu">
              <div class="possibilities">
                <div class="possibilities__item--selected">کاربران خانگی</div>
                <div class="possibilities__item">
                  <a href="b2b.html">کاربران سازمانی</a>
                </div>
              </div>
            </div>
            <div class="header__top__items">
              <div class="desktop__topMenu">
                <div class="desktop__topMenu__item">درباره شاتل</div>
                <div class="desktop__topMenu__item">همکاری با شاتل</div>
                <div class="desktop__topMenu__item">ارتباط با ما</div>
              </div>
              <i class="fa-solid fa-phone-flip ml-3"></i> شماره سراسری ۹۱۰۰۰۰۰۰
              <div class="english">English</div>
            </div>
          </div>
          <div class="header__top__menu__box">
            <div class="header__top__menu__box__item">
              <div class="proTitle">محصولات و خدمات</div>
              <div class="product__items__box product-d-none">
                <div class="product__items">
                  <a href="#">خدمات اینترنت پر سرعت</a>
                </div>
                <div class="product__items"><a href="#">خدمات تلفن</a></div>
                <div class="product__items"><a href="#">خدمات همراه</a></div>
                <div class="product__items"><a href="#">خدمات محتوا</a></div>
              </div>
            </div>
            <div class="header__top__menu__box__item">
              <div class="suppTitle">پشتیبانی</div>
              <div class="support__items__box support-d-none">
                <div class="support__items">
                  <a href="#">راهنکای استفاده از خدمات پشتیبانی</a>
                </div>
                <div class="support__items"><a href="#">تست سرعت</a></div>
                <div class="support__items">
                  <a href="#">سیستم هوشمند پشتیبانی فنی</a>
                </div>
                <div class="support__items"><a href="#">محتوای آموزشی</a></div>
                <div class="support__items">
                  <a href="#">مدیریت ترافیک مصرفی</a>
                </div>
                <div class="support__items"><a href="#">مرکز دانلود</a></div>
                <div class="support__items">
                  <a href="#">اپلیکشن مای‌شاتل</a>
                </div>
                <div class="support__items"><a href="#">درخواست SLA</a></div>
              </div>
            </div>
            <div class="header__top__menu__box__link">
              <a href="#" target="_blank">چرا شاتل؟</a>
            </div>
            <div class="header__top__menu__box__link">
              <a href="#" target="_blank">راهکار های سازمانی</a>
            </div>
            <div class="header__top__menu__box__link">
              <a href="#" target="_blank">English</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row_flex center_content header__bottom__shadow">
        <div class="container">
          <div class="header__bottom">
            <div class="logo">
              <img src="../assets/pics/Shatel_Logo.png" alt="shatel-logo" />
            </div>
            <div class="header__bottom__desktopitems">
              <div class="desktopitems__prdouct">محصولات و خدمات</div>
              <div class="desktopitems__support">پشتیبانی</div>
              <div class="desktopitems__whyShatel">چرا شاتل؟</div>
            </div>
            <div class="header__bottom__tools">
              <div class="header__bottom__tools__items">
                <div class="search">
                  <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                </div>
              </div>
              <div class="header__bottom__tools__items">
                <div class="account">
                  <i class="fa-solid fa-user fa-xl"></i>ورود به مای‌شاتل
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="banner">
      <img class="banner__image" src="../assets/pics/b2b-banner.jpg" alt="" />
      <div class="banner__description">
        <h1 class="banner__header">راهکارهای سازمانی شاتل</h1>
        <p class="banner__text">راه‌گشای کسب و کارها در مدیریت خدمات ارتباطی</p>
      </div>
    </div>
    <div class="main">
      <div class="b2b__container card__countainer">
        <div class="card">
          <div class="card__content">
            <a class="card__toggle" href="#">
              <div class="card__image">
                <img
                  class="card--image"
                  src="../assets/pics/phone-shateltalk.png"
                  alt=""
                />
              </div>
              <div class="card__header">
                <h2>تلفن ثابت سازمانی</h2>
              </div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <a class="card__toggle" href="#">
              <div class="card__image">
                <img
                  class="card--image"
                  src="../assets/pics/rahkar-internet-optimal.png"
                  alt=""
                />
              </div>
              <div class="card__header">
                <h2>اینترنت پهنای باند ویژه (Optimal)</h2>
              </div>
            </a>
          </div>
        </div>
        <div id="internet" class="card">
          <div class="card__content">
            <a class="card__toggle" href="#">
              <div class="card__image">
                <img
                  class="card--image"
                  src="../assets/pics/rahkar-internet.png"
                  alt=""
                />
              </div>
              <div class="card__header">
                <h2>اینترنت پهنای باند اختصاصی (Dedicated)</h2>
              </div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <a class="card__toggle" href="#">
              <div class="card__image">
                <img
                  class="card--image"
                  src="../assets/pics/rahkar-shatelmobile.png"
                  alt=""
                />
              </div>
              <div class="card__header">
                <h2>ارتباط نقطه به نقطه (MPLS ،VPN و VPLS)</h2>
              </div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <a class="card__toggle" href="#">
              <div class="card__image">
                <img
                  class="card--image"
                  src="../assets/pics/rahkar-vpls.png"
                  alt=""
                />
              </div>
              <div class="card__header">
                <h2>راهکارهای مرکز داده‌های شاتل</h2>
              </div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <a class="card__toggle" href="#">
              <div class="card__image">
                <img
                  class="card--image"
                  src="../assets/pics/datacenter.png"
                  alt=""
                />
              </div>
              <div class="card__header">
                <h2>راهکارهای مرکز داده‌های شاتل</h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="article">
      <div class="b2b__container article__container">
        <div class="article__content">
          <h2 class="article__header">
            اینترنت پهنای باند اختصاصی (Dedicated)
          </h2>
          <p class="article__description">
            شرکت شاتل، دارنده بالاترین سهم بازار در میان شرکت‌های انتقال داده
            (PAP) و ارتباطات ثابت (FCP) با شناسایی حساسیت‌ها و نیازهای ارتباطی
            کسب‌وکارها، سرویس پهنای باند اینترنت اختصاصی یا سرویس Dedicated را
            برای دست‌رسی به اینترنت با کیفیت بالا و بدون ضریب اشتراک و با هدف
            رفع نیازهای انواع کسب‌وکارها طراحی کرده است. در این راهکار،
            سازمان‌ها می‌توانند بر یکی از بسترهای وایرلس و فیبر نوری پهنای باند
            اختصاصی خود را برای اتصال اختصاصی و پرسرعت به شبکه جهانی اینترنت
            تامین کنند.
          </p>
          <div class="article__button">
            <button class="article__btn primary--btn">
              <span>دریافت مشاوره</span>
            </button>
            <button class="article__btn secondary--btn">
              <span>بیشتر بخوانید</span>
            </button>
          </div>
        </div>
        <div class="article__image">
          <img
            class="article--picture"
            src="../assets/pics/370276034.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="article secondary--article">
      <div class="b2b__container article__container">
        <div class="article__image">
          <img
            class="article--picture"
            src="../assets/pics/524000434.png"
            alt=""
          />
        </div>
        <div class="article__content">
          <h2 class="article__header">اینترنت پهنای باند ویژه (Optimal)</h2>
          <p class="article__description">
            این سرویس مشابه سرویس اینترنت خدمات پهنای باند اختصاصی (Dedicated)
            بدون محدودیت سرعت است و تفاوت آن در پرداخت بر مبنای میزان مصرف است و
            در نتیجه بهینه‌ترین حالت را در دریافت پهنای باند و پرداخت هزینه‌ها
            در اختیار مشتریان قرار می‌دهد. هتل‌ها، بیمارستان‌ها، مراکز آموزشی و
            اداری و کسب و کارهای نوپا (استارت‌آپ‌ها) از جمله مهم‌ترین مخاطبان
            این راهکار هستند.
          </p>
          <div class="article__button">
            <button class="article__btn primary--btn">
              <span>دریافت مشاوره</span>
            </button>
            <button class="article__btn secondary--btn">
              <span>بیشتر بخوانید</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="article">
      <div class="b2b__container article__container">
        <div class="article__content">
          <h2 class="article__header">تلفن ثابت سازمانی</h2>
          <p class="article__description">
            راهکار سازمانی تلفن ثابت شاتل با هدف بهبود کیفیت تماس‌ها و کاهش
            هزینه‌های سازمانی پایه‌گذاری شده است. این خدمات ویژه سازمان‌هایی‌ست
            که قصد دارند با تکیه بر قابلیت‌هایی همچون مقیاس‌پذیری، انعطاف‌پذیری
            و سفارشی‌سازی، به خدمات ارتباطی با کیفیت و هزینه‌ای مناسب در سازمان
            خود دست یابند<br />
            از این رو صرف‌نظر از این که بزرگی سازمان شما چه قدر است، می‌توانید
            متناسب با نیازهای خود از این راهکار و ویژگی‌های آن در کسب و کار خود
            بهره‌مند شوید.
          </p>
          <div class="article__button">
            <button class="article__btn primary--btn">
              <span>دریافت مشاوره</span>
            </button>
            <button class="article__btn secondary--btn">
              <span>بیشتر بخوانید</span>
            </button>
          </div>
        </div>
        <div class="article__image">
          <img
            class="article--picture"
            src="../assets/pics/282002045.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="article secondary--article">
      <div class="b2b__container article__container">
        <div class="article__image">
          <img
            class="article--picture"
            src="../assets/pics/SPBU_1441097.png"
            alt=""
          />
        </div>
        <div class="article__content">
          <h2 class="article__header">راهکارهای مرکز داده‌های شاتل</h2>
          <p class="article__description">
            شاتل با در اختیار داشتن بیش‌ترین میزان پهنای باند کشور و با تکیه بر
            زیرساخت‌های منحصر به فرد ایجاد شده در مرکز داده‌های مجهز خود واقع در
            چندین پایگاه مستقر در تهران، شیراز و کرج موفق شده است، خدمات مرکز
            داده‌ها را با کیفیتی متمایز در اختیار شرکت‌ها و سازمان­‌ها قرار دهد.
            هم‌اینک مشتریان و وب‌سایت‌های شناخته شده و صاحب‌نامی در فهرست
            مشترکین راهکارهای مرکز داده‌های شاتل قرار دارند که به صورت
            شبانه‌روزی از خدمات این مرکز و پشتیبانی نیروهای متخصص شاتل بهره‌مند
            می‌شوند.
          </p>
          <div class="article__button">
            <button class="article__btn primary--btn">
              <span>دریافت مشاوره</span>
            </button>
            <button class="article__btn secondary--btn">
              <span>بیشتر بخوانید</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="article">
      <div class="b2b__container article__container">
        <div class="article__content">
          <h2 class="article__header">
            ارتباط نقطه به نقطه (MPLS ،VPN و VPLS)
          </h2>
          <p class="article__description">
            یکی دیگر از راهکارهای پهنای باند شاتل، راهکار اتصال نقطه به نقطه است
            که برای ایجاد شبکه‌های خصوصی مجازی برای اتصال دو یا چند نقطه از
            سازمان و ارسال و دریافت اطلاعات به کار می‌رود. بسیاری از سازمان‌ها
            برای برقراری ارتباط امن میان دفترها و شعب خود به بستری پایدار و
            اختصاصی شده در سراسر کشور نیازمندند. خدمات ارتباط نقطه به نقطه‌ی
            شاتل نیز چنین بستری را با ویژگی‌های زیر در اختیار مشتریان می‌گذارد.
          </p>
          <div class="article__button">
            <button class="article__btn primary--btn">
              <span>دریافت مشاوره</span>
            </button>
            <button class="article__btn secondary--btn">
              <span>بیشتر بخوانید</span>
            </button>
          </div>
        </div>
        <div class="article__image">
          <img
            class="article--picture"
            src="../assets/pics/542569876.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="article secondary--article">
      <div class="b2b__container article__container">
        <div class="article__image">
          <img
            class="article--picture"
            src="../assets/pics/566191.png"
            alt=""
          />
        </div>
        <div class="article__content">
          <h2 class="article__header">راهکارهای سازمانی شاتل موبایل</h2>
          <p class="article__description">
            شاتل، با هدف تکمیل زنجیره ارزش خدمات ارتباطی و مخابراتی، فعالیت در
            بازار خدمات ارتباطی همراه را به فهرست خدمات خود افزوده است. بر این
            اساس شرکت توسعه ارتباطات همراه شاتل با نام تجاری شاتل موبایل فعالیت
            خود را به عنوان اپراتور مجازی نوع یک موبایل به صورت Full MNVO، از
            سال ۱۳۹۴ شروع کرده است. راهکار پایه‌ای بر بستر موبایل به صورت عمومی
            در قالب محصولات و خدمات سازمانی به تمام سازمان‌ها قابل ارایه است.
          </p>
          <div class="article__button">
            <button class="article__btn primary--btn">
              <span>دریافت مشاوره</span>
            </button>
            <button class="article__btn secondary--btn">
              <span>بیشتر بخوانید</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form">
      <div class="b2b__container form__container">
        <div class="form__image">
          <img
            class="form--image"
            src="../assets/pics/videoblocks-a-young-beautiful-girl-in-a-black-hijab-is-talking-on-the-headset-answering-calls-in-call-center-arab-women-in-the-office-60-fps_bgzfzzc2wg_thumbnail-full01.png"
            alt=""
          />
        </div>
        <div class="form__person">
          <label class="form__firstname" for="firstName"
            >نام و نام خانوادگی *</label
          >
          <input type="text" id="firstName" name="firstname" placeholder=" " />
          <div class="form__state">
            <label for="form--state">استان</label>
            <select class="form--state" id="state" name="state">
              <option value="tehran">تهران</option>
              <option value="fars">فارس</option>
              <option value="yazd">همدان</option>
            </select>
          </div>
          <label class="form__number" for="number">شماره تماس *</label>
          <input type="text" id="p__number" name="p__number" placeholder=" " />
          <label class="form__company" for="company">نام شرکت / سازمان </label>
          <input type="text" id="company" name="company" placeholder=" " />
          <label class="form__email" for="email__adress"> آدرس ایمیل * </label>
          <input
            type="email"
            id="email__adres"
            name="email__adres"
            placeholder=" "
          />

          <label class="form__bio" for="bio"> متن پیام </label>
          <textarea name="bio" id="bio" cols="30" rows="20"></textarea>

          <label for="code">لطفا کاراکترها را تایپ کنید *</label>

          <input type="text" id="code" name="code" placeholder=" " />
          <img class="form__code" src="../assets/pics/download.png" alt="" />
          <button class="form__btn">
            <span class="form--send">ارسال</span>
          </button>
        </div>
      </div>
    </div>

    <div class="form__laptop">
      <div class="b2b__container form__container">
        <div class="form__image">
          <img
            class="form--image"
            src="../assets/pics/videoblocks-a-young-beautiful-girl-in-a-black-hijab-is-talking-on-the-headset-answering-calls-in-call-center-arab-women-in-the-office-60-fps_bgzfzzc2wg_thumbnail-full01.png"
            alt=""
          />
        </div>
        <div class="form__contact">
          <div class="form__number__firstname">
            <div class="form__person">
              <label class="form__firstname" for="firstName"
                >نام و نام خانوادگی *</label
              >
              <input
                type="text"
                id="firstName1"
                name="firstname"
                placeholder=" "
              />
            </div>
            <div class="form__phone">
              <label class="form__number" for="number">شماره تماس *</label>
              <input
                type="text"
                id="p__number1"
                name="p__number"
                placeholder=" "
              />
            </div>
          </div>
          <div class="form__state__company">
            <div class="form__states">
              <label class="form__state" for="state">استان</label>
              <select id="state1" name="state">
                <option value="tehran">تهران</option>
                <option value="fars">فارس</option>
                <option value="yazd">همدان</option>
              </select>
            </div>
            <div class="form__companies">
              <label for="company">نام شرکت / سازمان </label>
              <input
                class="form__company"
                type="text"
                id="company1"
                name="company"
                placeholder=" "
              />
            </div>
          </div>
          <label class="form__email" for="email"> آدرس ایمیل * </label>
          <input
            type="email"
            id="email__adres1"
            name="email__adres"
            placeholder=" "
          />
          <label class="form__bio" for="bio"> متن پیام </label>
          <textarea name="bio" id="bio" cols="30" rows="20"></textarea>
          <label for="code">لطفا کاراکترها را تایپ کنید *</label>
          <input
            class="form__random"
            type="text"
            id="code1"
            name="code"
            placeholder=" "
          />
          <img class="form__code" src="../assets/pics/download.png" alt="" />
          <button class="form__btn"><span class="send">ارسال</span></button>
        </div>
      </div>
    </div>

    <div class="catalogue">
      <div class="catalogue__header">
        <h2>کاتالوگ راهکارهای کسب و کار شاتل</h2>
      </div>
      <div class="catalogue__button">
        <button class="catalogue__btn">دریافت</button>
      </div>
    </div>
    <div class="b2b__container contact__container">
      <div class="contact">
        <div class="contact__sell__tech">
          <div class="contact__sell">
            <div class="contact__description">
              <h2 class="contact__header">برای همکاری همراه شما هستیم</h2>
              <p class="contact__text">واحد فروش شاتل</p>
            </div>
            <div class="contact__connect">
              <a class="contact__number" href="#">۰۲۱۹۱۰۰۰۹۹۹ </a>
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="contact__connect">
              <a class="contact__fax" href="#">۹۱۰۰۰۹۹۸ </a>
              <i class="fa fa-fax" aria-hidden="true"></i>
            </div>
            <div class="contact__connect">
              <a class="contact__mail" href="#">b2b@shatel.ir </a>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
          </div>
          <div class="contact__tech">
            <div class="contact__description">
              <h2 class="contact__header">پشتیبانی شاتل همواره پاسخگوست</h2>
              <p class="contact__text">پشتیبانی فنی شاتل</p>
            </div>
            <div class="contact__connect">
              <a class="contact__number" href="#">۰۲۱۹۱۰۰۰۹۹۹ </a>
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="contact__connect">
              <a class="contact__mail" href="#">rt-tech-b2b@shatel.ir </a>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="contact__social">
          <div class="contact__social__title">
            <h2 class="contact__title">ما را در شبکه های اجتماعی دنبال کنید</h2>
          </div>
          <div class="contact__social__link">
            <i
              class="fa fa-instagram contact__instagram"
              aria-hidden="true"
            ></i>
            <i class="fa fa-linkedin contact__linkdin" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="footer__top__box">
          <div class="footer__top__box__right-side">
            <div class="menu__col">
              <a href="#">ارتباط با ما</a>
              <a href="#">همکاری با ما</a>
              <a href="#">نمایندگی فروش</a>
              <a href="#">سوالات متداول</a>
              <a href="#">اخبار</a>
            </div>
            <div class="menu__col">
              <a href="#">صدای مشتری</a>
              <a href="#">مناقصه‌ها و مزایده‌ها</a>
              <a href="#">انتقادها و پیشنهادها</a>
              <a href="#">سامانه رضایت‌سنجی</a>
            </div>
          </div>
          <div class="footer__top__box__left-side">
            <div class="social__row">
              <div class="twitter">
                <i class="fab fa-twitter fa-3x"></i>
              </div>
              <div class="telegram">
                <i class="fa-solid fa-paper-plane fa-3x"></i>
              </div>
              <div class="linkedin">
                <i class="fab fa-linkedin-in fa-3x"></i>
              </div>
              <div class="instagram">
                <i class="fab fa-instagram fa-3x"></i>
              </div>
            </div>
            <div class="search__row">
              <div class="search__row__box">
                <input
                  type="email"
                  name="mail"
                  id="mail"
                  placeholder="آدرس ایمیل *"
                />
                <div class="search__btn">عضویت در خبرنامه</div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__botton__box">
          <div class="footer__botton__box__right-side">
            <p>
              1401 - کلیه حقوق مالکیت معنوی این وب‌سایت به گروه فناوری ارتباطات
              و اطلاعات شاتل تعلق دارد.
            </p>
          </div>
          <div class="footer__botton__box__left-side">
            <p>شماره پروانه: 15-94-100 | سامانه 195</p>
          </div>
        </div>
      </div>
    </footer>
    <i class="comment far fa-comment-dots"></i>
  </body>
  <script type="text/javascript" src="../assets/js/main.js"></script>
</html>
