<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/b2v.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
  </head>
  <body>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">item 1</h2>
        <svg class="icon icon-menu collapsible__menu">
          <use xlink:href="../assets/pics/sprite.svg#menu"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        voluptatibus voluptate itaque minima rerum molestias vel dolor
        consequuntur voluptas praesentium, nisi iure, aspernatur natus,
        doloremque hic perferendis velit id neque!
      </div>
    </div>
    <script src="js/b2b.js"></script>
  </body>
</html>
