<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/b2v.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
  </head>
  <body>
    <header class="mobile__header">
      <div class="mobile__nav__top">
        <div class="mobile__top__right">
          <div class="mobile__menu__icon collapsible">
            <svg class="icon icon_menu nav__toggler">
              <use xlink:href="../assets/pics/sprite.svg#menu"></use>
            </svg>
            <ul class="mobile__nav__list collapsible__content">
              <li class="nav__item item__border--buttom">
                <a href="#">محصولات و خدمات</a>
              </li>
              <li class="nav__item item__border--buttom">
                <a href="#">پشتیبانی</a>
              </li>
              <li class="nav__item"><a href="#">چرا شاتل؟</a></li>
              <li class="nav__item"><a href="#">راهکار های سازمانی</a></li>
              <li class="nav__item"><a href="#">English</a></li>
            </ul>
          </div>
        </div>
        <div class="mobile__top__left">
          <ul class="phone__number">
            <li>شماره سراسری ۹۱۰۰۰۰۰۰</li>
          </ul>
        </div>
      </div>
      <div class="mobile__nav__bot"></div>
    </header>
    <script src="js/b2b.js"></script>
  </body>
</html>
