<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shatel_Sample</title>
</head>
<body>
    <div class="row center_content">
        <div class="container">container</div>
    </div>
    <div class="row center_content">
        <div class="container">container</div>
    </div>
    <div class="row">row</div>
    <div class="row center_content">
        <div class="container">container</div>
    </div>
    <div class="row center_content">
        <div class="container">container</div>
    </div>
    <div class="row center_content">
        <div class="container">container</div>
    </div>
    <div class="row center_content">
        <div class="container">container</div>
    </div>
    <div class="row">row</div>
    <div class="row center_content">
        <div class="container">container</div>
    </div>    <div class="row center_content">
        <div class="container">container</div>
    </div>
</body>
</html>