<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cc236d5619.js" crossorigin="anonymous"></script>
    <title>shatel_Sample</title>
</head>

<body>
    <header class="header-mobile">
        <div class="row_flex header-mobile__top__background center_content">
            <div class="container">
                <div class="header-mobile__top">
                    <div class="header-mobile__top__menu"><div class="header-mobile__top__menu_items--display-none"><i class="fa fa-xmark fa-lg"></i></div><div class="header-mobile__top__menu_items"><i class="fa-solid fa-bars fa-lg"></i></div></div>
                    <div class="header-mobile__top__items"><i class="fa-solid fa-phone-flip ml-3"></i>شماره سراسری 91000000</div>
                </div>
            </div>
        </div>
        <div class="row_flex center_content header-mobile__bottom__shadow">
            <div class="container">
                <div class="header-mobile__bottom">
                    <div class="header-mobile__bottom__logo">
                        <img src="../assets/pics/Shatel_Logo.png" alt="shatel-logo">
                    </div>
                    <div class="header-mobile__bottom__tools">
                       <div class="header-mibile__bottom__tools__items">
                        <div class="header-mobile__bottom__tools__items_search"><i class="fa-solid fa-magnifying-glass fa-2xl"></i></div>
                       </div>
                       <div class="header-mibile__bottom__tools__items">
                        <div class="header-mobile__bottom__tools__items_account"><i class="fa-solid fa-user fa-xl"></i>ورود به مای‌شاتل</div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>