<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cc236d5619.js" crossorigin="anonymous"></script>
    <title>shatel_Sample</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <!-- Mobile S-320PX and  Tablet-768px -->
            <div class="header__Mobile__top d__none">
               <div class="header__right__Mobile">
                  <div class="burger__inner"></div>
               </div>
               <div class="header__left__Mobile">
                   <i class="fa-solid fa-phone-flip icon__phone"></i>
                   <h4 class="phone__number">شماره سراسری 91000000 </h4>
               </div>
            </div>
            <ul class="menu__item__burger">
                <li class="item__burger">محصولات وخدمات
                    <ul class="menu__item__burger1">
                        <li>خدمات اینترنت پر سرعت</li>
                        <li>خدمات تلفن</li>
                        <li>خدمات همراه</li>
                        <li>خدمات محتوا</li>
                    </ul>
                </li>
                <li class="item__burger1">پشتیبانی
                    <ul class="menu__item__burger1">
                        <li>راهنمای استفاده از خدمات پشتیبانی</li>
                        <li>تست سرعت</li>
                        <li>سیستم هوشمند پشتیبانی فنی</li>
                        <li>محتوای آموزشی</li>
                        <li>مدیریت ترافیک مصرفی</li>
                        <li>مرکز دانلود</li>
                        <li>اپلیکیشن های شاتل</li>
                        <li>درخواستSLA</li>
                    </ul>
                </li>
                <li> چرا شاتل؟</li>
                <li> راهکار های سازمانی</li>
                <li>English</li>
            </ul>
            <div class="header__Mobile__bottom d__none">
               <div class="header__Mobile__right-bot">
                   <img class="header_image" src="../assets/image/download.png" alt="">
               </div>
               <div class="header__Mobile__left-bot">
                   <div class="header__bottom__login">
                      <i class="fa-solid fa-magnifying-glass  header__icon__search"></i>
                      <i class="far fa-user icon__user__header"></i>
                      <button class="header__btn__login">ورود به مای شاتل</button>
                    </div>
               </div>
           </div>
           <!-- Laptap-1024px -->
            <div class="header__Laptap__top d__none">
               <div class="header__top-laptap__right">
                   <div class="header__menu__top__right">
                       <div class="height__menu bg_color">کاربران خانگی</div>
                       <div class="height__menu">کاربران سازمانی</div>
                   </div>
               </div>
               <div class="header__top-laptap__left">
                   <div class="header__menu__top__left">
                       <div class="height__menu h73__w56">درباره شاتل</div>
                       <div class="height__menu h95__w56">همکاری با شاتل</div>
                       <div class="height__menu h71__w56">ارتباط باما</div>
                       <div class="height__menu h56__w149">
                            <i class="fa-solid fa-phone"> شماره سراسری 91000000 </i>
                       </div>
                       <div class="height__menu h56__w58">English</div>
                   </div>
               </div>
           </div> 
           <div class="header__Laptap__bottom d__none">
               <div class="header__Laptap__right">
                   <img class="header_image" src="../assets/image/download.png" alt="">
                   <div class="header__Laptap__menu">
                        <div class="width__menu">محصولات وخدمات</div>
                        <div class="width__menu">پشتیبانی</div>
                        <div class="width__menu">چرا شاتل؟</div>
                   </div>

               </div>
               <div class="header__Laptap__left">
                   <div class="header__bottom__login">
                    <i class="fa-solid fa-magnifying-glass  header__icon__search"></i>
                      <i class="far fa-user icon__user__header"></i>
                      <button class="header__btn__login">ورود به مای شاتل</button>
                    </div>
               </div>
               
           </div>
           <!-- Laptap L-1440px -->
           <div class="header__Laptap-L__top nav__bar  d__none">
               <div class="header__top-L__right ">
                   <div class="header__menu__top__right">
                       <div class="height__menu bg_color">کاربران خانگی</div>
                       <div class="height__menu">کاربران سازمانی</div>
                   </div>
               </div>
               <div class="header__top-L__left ">
                   <div class="header__menu__top__left">
                       <div class="height__menu h73__w56">درباره شاتل</div>
                       <div class="height__menu h95__w56">همکاری با شاتل</div>
                       <div class="height__menu h71__w56">ارتباط باما</div>
                       <div class="height__menu h56__w149">
                        <i class="fa-solid fa-phone"> شماره سراسری 91000000 </i>
                       </div>
                       <div class="height__menu h56__w58">English</div>
                   </div>
               </div>
           </div> 
           <div class="header__Laptap-L__bottom d__none">
               <div class="header__Laptap-L__right">
                   <div class="image__header__laptap__rtl">
                        <img class="header_image" src="../assets/image/download.png" alt="">
                   </div>
                   <div class="header__Laptap__menu">
                        <div>محصولات وخدمات</div>
                        <div>پشتیبانی</div>
                        <div>چرا شاتل؟</div>
                    </div>

               </div>
               <div class="header__Laptap-L__left">
                   <div class="header__bottom__login">
                      <i class="fa-solid fa-magnifying-glass  header__icon__search"></i>
                      <i class="far fa-user icon__user__header"></i>
                      <button class="header__btn__login width__btn">ورود به مای شاتل</button>
                    </div>
               </div>
               
           </div>
          </div>
    </header>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <footer class="footer">
        <div class="container">
            <!-- footer mobile -->
            <div class="row1__footer__mobile">
                 <div class="footer__mobile__right">
                       <ul class="menu__list__footer__mobile">
                          <li><a href="#">ارتباط باما</a></li>
                          <li><a href="#">همکاری با ما</a></li>
                          <li><a href="#">نمایندگان فروش</a></li>
                          <li><a href="#">سوالات متداول</a></li>
                          <li><a href="#">اخبار</a></li>
                       </ul>
                 </div> 
                 <div class="footer__mobile__left">
                    <ul class="menu__list__footer__mobile">
                        <li><a href="#">صدای مشتری</a></li>
                        <li><a href="#">مناقصه هاومزایده ها</a></li>
                        <li><a href="#">انتقاد هاوپیشنهادها</a></li>
                        <li><a href="#">سامانه رضایت سنجی</a></li>
                     </ul>
                 </div>      
            </div>
            <div class="row2__footer__mobile">
                <div class="logo__footer__mobile-tw">

                </div>
                <div class="logo__footer__mobile-tl">
                    
                </div>
                <div class="logo__footer__mobile-lin">
                    <button>آدرس ایمیل *</button>
                </div>
                <div class="logo__footer__mobile-ins">
                    
                </div>
            </div>
            <div class="row3__footer__mobile">
                
            </div>
            <div class="row4__footer__mobile">
                
            </div>
        </div> 
    </footer>
    <script src="../components/mainpage.js"></script>
</body>
</html>