<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/mainpage.css">
    <link rel="icon" href="../assets/image/download.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cc236d5619.js" crossorigin="anonymous"></script>
    <title>shatel_Sample</title>
</head>
<body>
    
    <div class="slider__main">
        <div class="slide active">
            <img src="../assets/image/1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="../assets/image/2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="../assets/image/3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="../assets/image/4.jpg" alt="">
        </div>
        <div class="slide">
            <img src="../assets/image/5.jpg" alt="">
        </div>
        <div class="slide">
            <img src="../assets/image/6-1.jpg" alt="">
        </div>
        <span class="prev">&#10094</span>
        <span class="next">&#10095</span>
    </div>
    <div class="container">
        <div class="row col-xs-12 col-md-12 col-lg-12 col-xl-10">
            <div class="Description col-xs-10 col-md-10 col-lg-6 col-xl-6">
                <div class="Description__top">
                     <h2>لبخندتان را به دنیا نمی‌دهیم!</h2>
                </div>
                <div class="Description__bot">
                     <p class="col-xs-11 col-md-12 col-lg-12 col-xl-12 ">شاتل با ارائه خدمات و راهکارهای ارتباطی و محتوایی ارزش‌آفرین و نوآورانه و نیز پای‌بندی به اخلاق حرفه‌ای و مسئولیت‌های اجتماعی، رسالت خود را خلق لبخند رضایت در جامعه می‌داند.</p>
                </div>
            </div>

            <div class="box__card col-xs-12 col-md-12 col-lg-12 col-xl-12">
                <div class="p_15 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card  ">
                        <img src="../assets/image/6.png" alt="">
                        <h2  class="col-md-8">سیمکارت هوشمند شاتل موبایل</h2>
                        <p class="col-xs-12 col-md-9 col-lg-8 col-xl-8">تنها اپراتور ارائه دهنده سیم کارت هوشمند با خدمات مکالمه,پیامک و اینترنت4G/LTE</p>
                    </div>
                </div>
                <div class="p_15 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card ">
                        <img src="../assets/image/7.png" alt="">
                        <h2>خدمات تلفن</h2>
                        <p class="col-xs-9 col-md-8 col-lg-8 col-xl-9">نسل جدید خدمات تلفن با ویژگی های منحصر به فرد</p>
                    </div>
                </div>
                <div class="p_15 col-xs-12 col-md-3 col-lg-4 col-xl-4">
                    <div class="card ">
                        <img src="../assets/image/8.png" alt="">
                        <h2 class="col-md-10">خدمات اینترنت  پرسرعت ثابت</h2>
                        <p class="col-xs-9 col-md-12 col-lg-12 col-xl-8">بهترین راهکار برای دستیابی به اینترنت ثابت</p>
                    </div>
                </div>
                <div class="p_15 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card ">
                        <img src="../assets/image/9.png" alt="">
                        <h2>خدمات همگرایی ثابت وسیار</h2>
                        <p class="col-xs-9 col-md-9 col-lg-12 col-xl-9">تنها سرویس ترکیبی و همگرایی موبایل و ADSL2+</p>
                    </div>
                </div>
                <div class="p_15 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card ">
                        <img src="../assets/image/10.png" alt="">
                        <h2 class="col-md-8">خدمات مجتمع های مسکونی و تجاری</h2>
                        <p class="col-xs-10 col-md-9 col-lg-9 col-xl-9">سرویس مجتمع های مسکونیو تجاری راهی مطمین برای دسترسی به اینترنت وبرقراری ارتباط</p>
                    </div>
                </div>
                <div class="p_15 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card ">
                        <img src="../assets/image/11.png" alt="">
                        <h2 class="col-md-8">تماشای آنلاین فیلم وسریال (نماوا)</h2>
                        <p class="col-xs-9 col-md-8 col-lg-12 col-xl-6">خلق یک تجربه لذت بخش انلاین</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg__card-box">
        <div class="container">
            <div class="box__card col-xs-12 col-md-12 col-lg-12 col-xl-10">
               <div class="p_15 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                <div class="card h_260">
                    <img src="../assets/image/icon-7.png" alt="">
                    <h2>باشگاه مشتریان</h2>
                </div>
               </div>
                <div class="p_15 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="card h_260">
                        <img src="../assets/image/rahkar-internet-optimal.png" alt="">
                        <h2>بررسی پوشش خدمات</h2>
                    </div>
                </div>
                <div class="p_15 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="card h_260">
                        <img src="../assets/image/icon-8.png" alt="">
                        <h2>قیمت سرویس ها</h2>
                    </div>
                </div>
                <div class="p_15 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="card h_260">
                        <img src="../assets/image/icon-7.png" alt="">
                        <h2>خرید آنلاین</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg__Customers">
        <div class="container">
            <div class="box__Customers col-xs-12 col-md-12 col-lg-12 col-xl-10">
                <div class="p_15 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                 <div class="card__Customers">
                     <img class="image col-xs-12 col-md-6 col-lg-6 col-xl-6" src="../assets/image/bashgah.jpg" alt="">
                     <div class="Shuttle__club col-xs-12 col-md-6 col-lg-6 col-xl-6">
                        <h1>باشگاه مشتریان شاتل</h1>
                        <h4>فرصتی برای قدردانی از وفاداری مشتریان</h4>
                        <p>شاتل کلاب (باشگاه مشتریان) با هدف قدردانی از همراهی و وفاداری مشتریان گران‌قدر شاتل، راه‌اندازی شد. این باشگاه که فرصتی برای ارج نهادن به همراهی همیشگی و انتقال حس سپاس و قدردانی شاتل نسبت به مشتریان وفادار بوده است، با پیشنهادهای متنوع و جذاب در دسترس مشتریان خواهد بود.</p>
                        <button class="btn">اطلاعات بیشتر</button>
                     </div>
                 </div>
                </div>
                 <div class="p_15 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                     <div class="card__Customers dir">
                         <img class="image  col-xs-12 col-md-6 col-lg-6 col-xl-6" src="../assets/image/vdsl-home.jpg" alt="">
                         <div class="Shuttle__club col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <h1>VDSLخدمات اینترنت پرسرعت ثابت </h1>
                            <h4>بالاترین سرعت، با مناسب‌‌ترین هزینه برای کاربران خانگی</h4>
                            <p>در این روش می‌توانید اینترنت پرسرعت را با سرعت متوسط ۷۰ مگابیت بر ثانیه، با قیمتی به مراتب ارزان‌تر از ADSL دریافت کنید. این سرویس هم برای کاربران خانگی و هم برای کسب‌وکارها مورد استفاده قرار می‌گیرد.</p>
                            <h5> .ر ا برای نخستین بار در کشور آغاز کرده استFTTCشاتل ارایه خدمات اینترنت پرسرعت بر بستر</h5>
                            <button class="btn">اطلاعات بیشتر</button>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
    <div class="bg__slider">
        <div class="container">
           <div class="Shuttle__offer">
            <h1 class="title">پیشنهاد ها</h1>
            <div class="box__slider">
                <div class="card__slide col-xs-12 col-md-12 col-lg-12 col-xl-10">
                    <div class="box__slide d_none col-xs-12 col-md-12 col-lg-6 col-xl-6">
                        <img  class="p_15 col-xs-3 col-md-4 col-lg-4 col-xl-4" src="../assets/image/175-x-198.jpg" alt="">
                        <div class="text__slider p__25 col-xs-7 col-md-8 col-lg-8 col-xl-7">
                            <h2 class="col-xs-8 col-md-8 col-lg-8 col-xl-12">اینترنت پر سرعت شاتل</h2>
                            <h5 class="col-xs-8 col-md-8 col-lg-8 col-xl-11">شاتل که همواره به دنبال ارایه شیوه های نوین در دسترسی کاربران به سرویس اینترنت پر سرعت بوده است</h5>
                            <button>بیشتر بخوانید</button>
                        </div>
                    </div>
                    <div class="box__slide col-xs-12 col-md-12 col-lg-6 col-xl-6">
                        <img  class="p_15 col-xs-3 col-md-4 col-lg-4 col-xl-4" src="../assets/image/198.175-2.jpg" alt="">
                        <div class="text__slider p__25 col-xs-8 col-md-8 col-lg-8 col-xl-7">
                            <h2 class="col-xs-8 col-md-8 col-lg-8 col-xl-12">جشنواره صد برابری ویژه کاربران جدید در سراسر کشور</h2>
                            <h5 class="col-xs-8 col-md-8 col-lg-8 col-xl-11">5000گیگ ترافیک هدیه,با خرید سرویس 50گیگابایتی شاتل,ماهانه فقط 150000تومان</h5>
                            <button>بیشتر بخوانید</button>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
    <div class="bg__foter">
        <div class="container">
            <div class="News__updates">
                <h1 class="title">اخبار وتازه ها</h1>
                    <div class="box__News col-xs-12 col-md-12 col-lg-12 col-xl-10">
                        <div class="card__Calendar p__25 col-xs-12 col-md-12 col-lg-6 col-xl-6">
                            <i class="icon__news fa-solid fa-calendar-days"><li>یکشنبه ,6  شهریور 1401 </li></i>
                            <div class=" col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 class="col-xs-9 col-md-12 col-lg-12 col-xl-10">تخفیف‌های ویژه شاتل برای آخرین ماه تابستان</h2>
                                <p class="col-xs-11 col-md-12 col-lg-12 col-xl-12">بسته‌های نقره‌ای ترافیک ۲۰ و ۱۰۰ گیگابایتی اینترنت ثابت شاتل با تخفیف‌های ویژه از  ۷‌ تا ۱۹ شهریور ماه ۱۴۰۱ در سراسر کشور ارایه می‌شود. با توجه به استقبال مشتریان عزیز از شرایط ویژه خرید بسته‌های ترافیک، شاتل پیشنهادهای ویژه جدیدی برای خرید این بسته‌ها در آخرین ماه تابستان در نظر گرفته است. مشتریان فعلی ...</p>
                                <button class="btn">بیشتر بخوانید</button>
                            </div>
                        </div>
                        <div class="card__Calendar p__25 col-xs-12 col-md-12 col-lg-6 col-xl-6">
                            <i class="icon__news fa-solid fa-calendar-days">دوشنبه , 31 مرداد 1401</i>
                            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 class="col-xs-8 col-md-12 col-lg-12 col-xl-12">تمدید تخفیف‌ فوق‌العاده مودم‌ اینترنت پرسرعت ثابت، برای کاربران ...</h2>
                                <p class="col-xs-11 col-md-12 col-lg-12 col-xl-12">تخفیف فوق‌العاده خرید مودم اینترنت پرسرعت، ویژه مشتریان شاتل، تا ۱۰ شهریور ماه تمدید شد. یکی از دلایل پایین بودن کیفیت برخی از سرویس‌ها و تجربه‌ قطع و وصلی‌های مکرر، استفاده از مودم‌های قدیمی است که گاه تاثیر منفی بسیار زیادی بر کیفیت سرویس می‌گذارد. حال آن‌که می‌توان با استفاده از تجهیزات به‌روزتر این تجربه ...</p>
                                <button class="btn">بیشتر بخوانید</button>
                            </div>
                        </div>
                    </div>
               </div>
        </div>
        <i class="Message far fa-comment-dots"></i>
    </div>
    

    <script src="../components/mainpage.js"></script>
</body>
</html>