*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
.d__none{
    display: none;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    
}

.header__Laptap-L__bottom,.header__Laptap__bottom,.header__Mobile__bottom{
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 82px;
    z-index: 1;
    position: relative;
}
.header__Mobile__top ,.header__Laptap__top,.header__Laptap-L__top{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    color: #fff;
    background: var(--gradient_background);
}
.header__right__Mobile{
    width: 40px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    z-index: 2;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}
.header__right__Mobile .burger__inner{
    width: 33px;
    height: 2px;
    background-color: #fff;
    transition: all .5s ease;
}
.header__right__Mobile .burger__inner::after,
.header__right__Mobile .burger__inner::before{
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
    transition:all .5s ease ;
}
.header__right__Mobile .burger__inner::after{
    transform: translateY(-5px);
}
.header__right__Mobile .burger__inner::before{
    transform: translateY(5px);
}
.header__right__Mobile.open .burger__inner{
    transform: translateX(-25px);
    background-color: transparent;
}
.header__right__Mobile.open .burger__inner::after{
    transform: translate(25px , 0) rotate(45deg);
}
.header__right__Mobile.open .burger__inner::before{
    transform: translate(25px , 0) rotate(-45deg);
}
.menu__item__burger{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    position: absolute;
    top: -50%;
    transition: all .5s ease;
    background: var(--footer-color);
    color:#fff;
    z-index: 1;
    font-size: 12px;
}
.menu__item__burger li{
    font-size: 12px;
    margin:10px;
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 10px;
    cursor: pointer;
    transition: all .3s ease;
}
.menu__item__burger li:hover{
    background-color: #fff;
    color: var(--footer-color);
}
.header__left__Mobile{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.phone__number , .icon__phone{
    font-size: 13px;
}
.header__Mobile__bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    z-index: 0;
}
.header__Mobile__right-bot{
    width: 25%;
    display: flex;
    justify-content: flex-start;
}
.header_image{
    width: 65px;
    height: 70px;
}
.header__Mobile__left-bot{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__bottom__login{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative; 
}
.header__icon__search{
    background-color: #cccdd1;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon__user__header{
    position: absolute;
    width: 17.5px;
    height: 21px;
    padding-right: 23px;
    font-size: 20px;
    color: #fff;
    right:50px;
}
.header__btn__login{
    width: 153px;
    height: 40px;
    border-radius: 25px;
    outline: 0;
    border: 0;
    font-weight:400 ;
    font-size: 11px;
    padding: 0 50px 0 20px;
    line-height: 39px;
    color: #fff;
    background-color: #56c45f;
}
/* header Laptop-1024px style */
.header__Laptap__top ,.header__Laptap__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: relative;
}
.header__menu__top__right,.header__Laptap__right{
    display:flex ;
    justify-content: center;
    width: 50%;
}
.header__menu__top__right{
    width: 75%;
}
.header__menu__top__left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 86px;
    cursor: pointer;
}
.h56__w58{
    width: 56px;
    height: 58px;
}
.h73__w56{
  height: 56px;
  width: 73px;
}
.h95__w56{
   height: 56px;
   width: 95px;
}
.h71__w56{
  height: 56px;
  width: 71px;
}
.h56__w149{
    width: 149px;
    height: 56px;
}
.width__menu{
    display: flex;
    justify-content: space-between;
}
.header__top-laptap__left,.header__Laptap__left{
    display:flex;
}
.header__Laptap__left{
    width: 25%;
    justify-content: space-around;
}
.header__Laptap__menu{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__top-laptap__right{
    width: 28%;
}
/* header Laptop-L-1440px style */
.header__Laptap-L__top,.header__Laptap-L__bottom{
    display: flex;
    justify-content: space-between;
}

.header__top-L__right{
    width: 35%;
    display: flex;
    justify-content: center;
}
.header__top-L__left{
    width: 52%;
    display: flex;
    justify-content: center;
}
.header__Laptap-L__right{
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.image__header__laptap__rtl{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.header__Laptap-L__left{
    width: 37%;
    display: flex;
    justify-content: space-around;
    height: 80px;
}
.nav__bar::before {
    content: 'نسخه آزمایشی';
    position: absolute;
    color: #fff;
    left: 5px;
    transform: rotate(-45deg);
    font-size: 10px;
    top: 15px;
    background-color: #f26322;
    width: 108px;
    text-align: center;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}
/* hover */
.bg_color{
    background-color: var(--primary-color);
}
.height__menu:hover{
    background-color: var(--primary-color);
}
 @media screen and (max-width:320px){
    .header__Mobile__top{
        display: flex;
    }
    .header__Laptap__top ,.header__Laptap__bottom{
        display: none;

    }
    .header__Laptap-L__top,.header__Laptap-L__bottom{
        display: none;
    }
}
@media screen and (min-width:320px){
    .header__Mobile__top{
        display: flex;
    }
    .header__Laptap__top ,.header__Laptap__bottom{
        display: none;

    }
    .header__Laptap-L__top,.header__Laptap-L__bottom{
        display: none;
    }
}
@media screen and (min-width:769px){
    .header__Mobile__top ,.header__Mobile__bottom ,.header__Laptap-L__top,.header__Laptap-L__bottom{
        display: none;
    }
    .header__Laptap__top,.header__Laptap__bottom{
        display: flex;

    }
    .header__btn__login{
        font-size: 14px;
        width: 175px;
    }
    .menu__item__burger{
        display: none;
    }
}
@media screen and (min-width:1025px){
    .header__Mobile__top ,.header__Mobile__bottom{
        display: none;
    }
    .header__Laptap__top,.header__Laptap__bottom{
        display: none;

    }
    .header__Laptap-L__top,.header__Laptap-L__bottom{
        display: flex;
    }
    .menu__item__burger{
        display: none;
    }
} 
