
@import url(main.css);


body{
    background: url(../pics/elements_footer_bg.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:contain;
}


.bg-gray{
    background: var(--gray-background);
    
}

.margin-bottom{
    margin: 0px 0px 90px 0px;
}


/********************************start_Of job slider****************************/

@media only screen and (width:428px){
    .jobsPage__slider{
        display: flex !important;
        width: 100%;
        justify-content: center !important;
        align-items: center;
    }

}

@media only screen and (width:320px) {
    .jobsPage__slider img{
        display: flex;
        width: 320px !important;
        border-bottom: 5px solid var(--slider-border-color);
    }
}

@media only screen and (width:375px) {
    .jobsPage__slider img{
        display: flex;
        width: 375px !important;
        border-bottom: 5px solid var(--slider-border-color);
    }
}

@media only screen and (width:425px) {
    .jobsPage__slider img{
        display: flex;
        width: 425px !important;
        border-bottom: 5px solid var(--slider-border-color);
    }
}







.jobsPage__slider img{
    display: flex;
    width: 100%;
    border-bottom: 5px solid var(--slider-border-color);
}


/********************************End_Of job slider****************************/



@media only screen and (max-width:428px) {
    .row_flex__topic{
        margin: 45px 0px 25px 0px !important;
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        color: var(--topic-color);
    }
    
    
}
.row_flex__topic{
    margin: 130px 0px 90px 0px;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    color: var(--topic-color);
}

.row_flex__topic::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 35px;
    width: 25px;
    height: 2px;
    background: var(--title-border-color);
}
/************************************************/

.textPics__Box{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.textPics__box__items{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.textPics__box__items img{
    border-radius: var(--box-border-radius);
}

.textPics__box__items__title{
    margin: 12px 0px 0px 0px;
}

.textPics__box__items__title::after{
    content: "";
    width: 20px;
    height: 2px;
    margin-top: 10px;
    position: absolute;
    background: var(--slider-border-color);
}


.textPics__box__items__text{
    display: flex;
    margin: 25px 0px 0px 0px;
    font-size: 1.4rem;
    line-height: 35px !important ;

}

.video_box{
    display: flex;
    width: 320px !important;
    margin: 0px 0px 100px 0px;
    justify-content: center;
}


/************************************************/

.job_offer{
    display: flex;
    flex-direction: column;
    background: var(--gray-background);
    width: 100%;
    align-items: center;
}

.job__offer__box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 25px 0px;
    justify-content: center;
    align-items: center;
    gap: 2%;
    color: black;
}

.job_offer_box__items{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-image: url("../svg/background-elements.svg");
    background-position:start;
    margin: 10px 0px 10px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-repeat: no-repeat;
    background-size:contain;
    width: 75%;
    border-radius: 10px;
    height: 30rem;
}

.job_offer_box__items:hover{
    cursor: pointer;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.21);
}
.job_offer_box__items--svg{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: end;
    height: 45%;
    width: 100%;
}



.job_offer_box__items--svg img{
    width: 30%;
}


.job_offer_box__items--title{
    display: flex;
    border-top: 1px solid rgb(198,235,255);
    width: 90%;
    font-size: 1.4rem;
    justify-content: center;
    padding: 15px 0px 0px 0px;
    align-items:flex-start;
    height: 30%;
    margin-top: 35px;
}

.job_btn{
    position: absolute;
    display: flex;
    top: -45%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    background: var(--gradient_background);
}

.job_btn span{
    width: 0px;
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.4rem;
	overflow: hidden;
	transition: 10s;
	text-align: center;
}

.job_btn:hover{
	width: 200px;
	border-radius: 25px;
}

.job_btn:hover img{
	width: 0;
    overflow: hidden;
	border-radius: 25px;
}

.job_btn:hover span{
    overflow: hidden;
    transition: 10s;
	width: max-content;
	border-radius: 25px;
}

.job_btn img{
    width: 50%;
}
.job_offer_box__items--footer{
    background: #FCFCFC;
    display: flex;
    justify-content: center;
    position: relative;
    border-top: 1px solid #EEEEEE;
    width: 100%;
    height: 20%;
}

.job_offer_box__items--footer a{
    text-decoration: none;
}

/********************job__offer********************/


/*********************job_note_box*****************/

.jobs__note__box{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 80px 0px;
    align-items: center;
    width: 100%;
}


.jobs__note__box__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
}

.jobs__note__box__text p{
    line-height: 4rem;
    margin: 15px 0px 15px 0px;
}

.note__row_flex__topic{
    margin: 96px 0px 28px 0px;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    color: var(--topic-color);
}
.underline{
    font-size: 1.6rem;
}

.note__row_flex__topic::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 35px;
    width: 25px;
    height: 2px;
    background: var(--title-border-color);
}
.jobs__note__box__text__btn{
    margin-top: 15px;
}
.jobs__note__box__text__btn a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 15px 18px 15px 18px;
    border-radius: 5px;
    height: 35px;
    border: 0.5px solid var(--secondary-color);
}

.jobs__note__box__text__btn:hover a{
    background: rgb(225, 225, 225);
    transition: 2s;
    cursor: pointer;
}

.pic__background__box{
    display: flex;
    color: var(--color-white);
    width: 100%;
    background: url(../pics/job-pic-7.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
}

.pic__background__box h2{
    color: var(--color-white);
}


/********************job__offer********************/

/************hiring__process*********/
@media only screen and (width:320px) {

    .hiring__process__box{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        margin: 60px 0px 15px 0px;
        gap:45px;
    }

    .title p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 35px 0px 20px 0px !important;
        align-items: center;
        color: var(--footer-color);
        font-size: 1.6rem;
    }
    
    
}

.hiring__process__box{
    display: flex;
    justify-content: space-around;
    margin: 60px 0px 15px 0px;
    flex-direction: row-reverse;
    gap:45px;
}


.hiring__process__box__items{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    border-radius: 50%;
    align-items: center;
}

.icons{
    display: flex;
    position: relative;
    background: #b4ffd2;
    transition: 0.5s;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}
.icons:hover{
    cursor: pointer;
    background: #f8f8f8;
}

.hiring__process__box__items--start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(to right,rgba(53,209,220,1) 0%,rgba(64,240,211,1) 100%);
    align-items: center;
    width: 150px;
    height: 150px;
}

.hiring__process__box__items img{
    width: 60px;
}

.hiring__process__box__items--start img{
    width: 60px;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 1.4rem;
    background: rgb(30, 255, 120);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: -10px;
}

.number--start{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 1.4rem;
    background: #448aff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: -10px;

}

.number--start img{
    width: 15px;
}

.hiring__process__title{
    display: flex;
    justify-content: space-around;
    margin: 5px 0px 250px 0px;
    flex-direction: row-reverse;
    gap:45px;

}


.title p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px 0px 250px 0px;
    align-items: center;
    color: var(--footer-color);
    font-size: 1.6rem;
}




