@font-face {
    font-family: "iransans";
    src: url(../fonts/IRANSansWeb.woff2) format('woff2');
}

@font-face {
    font-family: "fasans";
    src: url(../fonts/Sans\ a4fran3.woff) format('woff');
}

@font-face {
    font-family: "fdana";
    src: url(../fonts/dana-fanum-regular.woff2)format('woff2');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    direction: rtl;
    font-family: "fdana";
    display: flex;
    flex-direction: column;
}


:root{
   --gradient_background:linear-gradient(90deg, rgba(0,184,249,1) 0%, rgba(0,106,236,1) 100%);
   --action-color: #F26322;
   --green-btn: #56C45F;
   --footer-action:#FACF54;
   --color-white:#fff;
   --primary-color: #3f86ec;
   --secondary-color:#CCCDD1;
   --underline-color:#F9CF55;
   --footer-color:#242C39;
   --footer-gradiant:linear-gradient(90deg, rgba(126,241,168,1) 0%, rgba(94,229,191,1) 50%, rgba(6,195,250,1) 100%);
   --banner-color: rgb(0,42,99);
   --box-shadow:-0px 0px 41px 30px rgba(0,0,0,0.21);
   --btn-border-radius:25px;
   --box-border-radius:5px;
   --circle-border-radius:50%;
   --burger-background:#1B162D;
}



.row_flex{
    display: flex;
}

.col_flex{
    display: flex;
    flex-direction: column;
}

.start_content{
    justify-content: strat;
}

.center_content{
    justify-content: center;
}

.end_content{
    justify-content: end;
}

.start_item{
    align-items:flex-start;
}

.center_item{
    align-items:center;
}

.end_item{
    align-items:flex-end;
}
.row{
    display: flex;
    border: 1px solid black;
}

.container{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
}